<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>

<body>


  <header>
    <div class="header-app">
<nav class="header-nav">
    <a class="a-nav" routerLink="/categoria">Categorias</a>
    <a class="a-nav" routerLink="/tarefas">Tarefas</a>
    <a class="a-nav" routerLink="/propriedades">Propriedades</a>

</nav>
</div>
  </header>


  <div class="body-app" >
  <router-outlet></router-outlet>
</div>
</body>

</html>