<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Tarefas</h1>
<input type="text" placeholder="Nome" [(ngModel)]="nomeTarefa">
<button (click)="cadastraTarefa()">Cadastrar</button>


<div style="display: flex; justify-content: space-between;">
    <div *ngFor="let categoria of categorias">
    {{ categoria }}
    <hr/>
    </div>
    <div *ngFor="let tarefa of getTarefas()">
    {{ tarega.nome }}
    </div>
</div>
</body>
</html>