<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 class="h1-tarefas">Cadastro de tarefas</h1>
  <div class="cadastro-input">
    <select [(ngModel)]="tarefa.categoria" class="select">
      <option *ngFor="let categoria of categorias" value="{{ categoria }}">{{ categoria }}</option>
    </select>
    <input placeholder="Nome da tarefa" [(ngModel)]="tarefa.nome" id="input">
    <button (click)="cadastrarTarefa()">Cadastrar</button>
  </div>
  <div *ngIf="tarefas.length>0">
    <!--verifica se tem alguma categoria-->
    <div class="repetidor-categoria" *ngFor="let categoria of categorias">
      <!--faz uma repetição das categorias-->
      <div (dragover)="atualizarCat(categoria)" dropzone="true" class="div-categorias">
        <!--Inicia a categoria se houver tarefas-->
        <h1>{{categoria}}</h1>
        <div draggable="true" (dragend)="atualizarTarefaDrop(tarefa)" *ngFor="let tarefa of tarefas;index as indice">

          <!--faz uma repetição das tarefas-->
          <div *ngIf="tarefa.categoria==categoria">
            <!--coloca a tarefa na respectiva categoria-->
            <h3 class="h3-tarefas">Tarefa {{indice+1}}: {{tarefa.nome}}</h3>
            <Button class="button-remover" (click)="removerTarefa(indice)">Remover Tarefa</Button>
            <select [(ngModel)]="tarefa.categoria" class="select" (change)="alterarTarefa(tarefa,$event.target.value )">
              <option *ngFor="let categoria of categorias" value="{{ categoria }}">{{ categoria }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>