<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLá</title>
</head>
<body>
    <h1>Cadastro de categorias</h1>
<input type="text" placeholder="Nome" [(ngModel)]="nomeCategoria">
<button (click)="cadastraCategoria()">Cadastrar</button>


<div>
    <div *ngFor="let categoria of categorias">
     <p>{{categoria}}</p>
    </div>
</div>
</body>
</html>