<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLá</title>
</head>

<body>
    <h1>Cadastro de categorias</h1>
    <div class="cadastro-input">    
        <input type="text" placeholder="Nome" [(ngModel)]="nome">
    <button (click)="cadastraCategoria()">Cadastrar</button>
</div>

    <div class="categorias-cadastradas">
        <h3>Categorias cadastradas</h3>
        <div *ngFor="let categoria of categorias; index as indice;">
            <p>{{categoria}}</p>
            <button (click)="removerCategoria(categoria, indice)">remover categoria</button>
        </div>
    </div>
</body>

</html>